body {
    background-color: salmon;
}

body button {
    padding: 1rem;
    text-transform: uppercase;
}

body button.tombol-merah {
    background-color: red;
}

body button.tombol-hijau {
    background-color: green;
}